@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/useful';

html, body, #app {
  position: relative;
  width: $width-max;
  height: $height-max;
}

body {
  margin: 0;
  padding: 0;
  // overflow: hidden;
  color: $color-dark;
  font-family: 'Tex Gyre';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Aileron Light';
  margin: 0px;
}

ul {
   padding: 0;
}

li {
  list-style: none;
}

a {
  color: $color-link;
  text-decoration: none;
  text-decoration-color: inherit;

  &:active, &:focus, &:hover, &.v-link-active {
    color: lighten($color-link, 20%);
    outline: none;
  }

  &.v-link-active {
   text-decoration: underline;
 }
}

@import 'partials/sections';
