@font-face {
  font-family: 'Tex Gyre';
  src: url('../assets/fonts/texgyreheros-regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron Regular';
  src: url('../assets/fonts/Aileron-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron Light';
  src: url('../assets/fonts/Aileron-Light.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron Bold';
  src: url('../assets/fonts/Aileron-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aileron Italic';
  src: url('../assets/fonts/Aileron-Italic.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
