.section {
  position: relative;
  width: $width-max;
  height: $height-max;
  margin: 0 auto;

  & .section-content {
    width: $width-content;
    margin: 0 auto;
  }
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.3s;
}
