<template>

  <div id="login" class="section centered">

    <div class="">
      <h2>Login</h2>
      <p>Log in to your account</p>
      <div v-if="error">
        <p>{{ error }}</p>
      </div>

      {{ auth.user.authenticated }}
      <div>
        <input
          type="text"
          placeholder="Enter your username"
          v-model="credentials.username"
        >
      </div>
      <div>
        <input
          type="password"
          placeholder="Enter your password"
          v-model="credentials.password"
        >
      </div>
      <button @click="submit">Access</button>
    </div>

  </div>

</template>

<script lang="babel">
  import * as Actions from '../../controllers/state/Actions'

  export default {
    ready () {

    },

    methods: {
      submit() {
        const credentials = {
          name: this.credentials.username,
          password: this.credentials.password
        }

        this.login(this, credentials, (data, authenticated) => {
          console.log(data, authenticated)
          if (authenticated === true) {
            this.$router.go('/admin')
          } else {
            console.log('Login failed')
          }
        })
      }
    },

    data() {
      return {
        credentials: {
          username: '',
          password: ''
        },
        error: ''
      }
    },

    vuex: {
      getters: {
        auth: state => state.auth
      },
      actions: Actions
    }
  }

</script>
