<template>

  <div id="subscribe" class="section centered">

    <h1>Subscribe</h1>

  </div>

</template>

<script lang="babel">
  import * as Actions from '../../controllers/state/Actions'

  export default {
    ready () {

    },

    vuex: {
      getters: {
        auth: state => state.auth
      },
      actions: Actions
    }
  }

</script>
