<template>

  <div id="admin" class="section centered">

    <h1 v-bind:style="{ color: color }">Administration</h1>
    {{ auth.user.authenticated }}
    <li><a v-link="{ name: 'projects' }">Projects</a></li>
    <li><a @click.prevent="exit">Logout</a></li>

    <router-view></router-view>

  </div>

</template>

<script lang="babel">
  import * as Actions from '../../controllers/state/Actions'

  export default {
    ready () {

    },

    methods: {
      exit () {
        this.logout(() => {
          this.$router.go('/')
        })
      }
    },

    vuex: {
      getters: {
        color: state => state.color,
        auth: state => state.auth
      },
      actions: Actions
    }
  }

</script>
