<template>

  <div id="app">

    <router-view></router-view>

  </div>

</template>

<script lang="babel">
  import Store from './controllers/state/Store'

  export default {
    store: Store
  }
</script>
