<template>

  <div id="projects" class="section centered">

    <h1 v-bind:style="{ color: color }">Projects</h1>

  </div>

</template>

<script lang="babel">
  import * as Actions from '../../../controllers/state/Actions'

  export default {
    ready () {

    },

    vuex: {
      getters: {
        color: state => state.color,
        auth: state => state.auth
      },
      actions: Actions
    }
  }

</script>
