,<template>

  <div id="home" class="section centered">

    <h1 v-bind:style="{ color: color }">/home sweet /home</h1>
    {{ auth.user.authenticated }}
    <li><a v-link="'admin'">Administration</a></li>

  </div>

</template>

<script lang="babel">
  import * as Actions from '../controllers/state/Actions'

  export default {
    vuex: {
      getters: {
        color: state => state.color,
        auth: state => state.auth
      },
      actions: Actions
    },

    data () {
      return {
        colors: [
          '#d9b24e',
          '#cb5949',
          '#40addb',
          '#dacbab',
          '#5eb67e'
        ]
      }
    },

    ready () {
      const randomColor = this.colors[Math.floor(Math.random() * this.colors.length)]
      this.setColor(randomColor)

      // this.$http.get('/api/test').then((res) => {
      //   console.log(res.data)
      // }, (err) => {
      //   console.log(err)
      // })
    }
  }

</script>
